body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color:grey;

}

li {
    list-style-type: none;

}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
    max-height: 72px;
    height: 72px;
}

.header-logo {
    color: white;
    font-size: 32px;
    font-weight: 900;
    min-width: auto;
}

.block-one {
    display: flex;
    flex-flow: column wrap;
    background: #1F2937;
    padding: 0 150px;
    align-items: flex-start;
    justify-content: space-around;
    max-height: 150px;
    height: 150px;
    
}

.block-one-header {
    color: white;
    font-size: 24px;
}

.block-one-sub {
    color: grey;
}

.pic {
    display: flex;
    margin-left: auto;
    background-color: grey;
    height: 125px;
    width: 400px;
    justify-content: center;
    align-items: center;

}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    outline: none;
    border: 2px solid white;
    padding: 5px;

}

.block-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-height: 100px;
}

.block-two-header {
    font-weight: 900;
    font-size: 32px;

}

.box {
    border: solid 3px blue;
    border-radius: 15px;
    padding: 15px;
    margin: 0;
    height: 150px;
    width: 150px;
}

.block-three {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}


.box-and-caption {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    margin: 15px;
    margin-bottom: 40px;
}

.row {
    display: flex;

}

.block-four {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 300px;
    color: black;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.quoter {
    font-weight: 700;
    margin-left: auto;
}

.block-five {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.blue-block {
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 15px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    border: 10px;
    width: 800px;
    height: 100px;  
}

.footer {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1F2937;
    height: 50px;
    min-height: 50px;
    padding: 0 150px;
}
